body{
    font-family: Arial, sans-serif;
    color: rgb(70, 70,70);
}

li {
    padding:.5em .2em;
}

ul {
    list-style: square;
}

h1{
    color: rgb(253, 252, 253);
    padding: 2em 1.5em 0em 1.5em;
}

/* ====== class styles ========== */

.label {
    font-size: .7em;
    letter-spacing: .1rem;
    font-weight: bold;
    color: rgb(253, 252, 253);
    text-transform: uppercase;
}

/* containers */
main{
    background: linear-gradient(to right, rgb(153, 192, 199) , rgb(33, 56, 119));
}
.C_wrapper {
    display: flex;
    align-items: flex-start;
}
.flex-container {
    flex: 1;
    padding: 0em 3rem 2em 3rem;
    width: 50%;
    flex-wrap: nowrap; 
}
.btn-convert,
.btn-reset {
    border-radius: 50px;
    width: 80px;
    padding: 5px 0px;
}

.instructions {
    padding: 2em 3em;
}

/* id styles */
#temp_output {
    height: 36px;
    width: 160px;
    background-color: white;
    padding: .4em .7em;
    font-size: 2rem;
    margin-top: .5em; 
    border: 1px solid rgba(230, 238, 247, 0.8); 
    box-shadow: 3px 3px 15px 0px rgb(216, 214, 215) inset; 
    
}

#temp_input {
    height: 60px;
    width: 160px;
    background-color: white;
    padding: 0em .5em;
    font-size: 2rem; 
    border: 1px solid rgba(230, 238, 247, 0.8);  
    box-shadow: 3px 3px 15px 0px rgb(216, 214, 215) inset;
}